#mapEditorMenu{
    text-align: center;
    border-style:solid;
    width:18vw;
    #roadBox{
    .roadOption{
        width:fit-content;
        display:flex;
        align-items:center;
        justify-content: center;
        font-size:2em;
        }
   
    }
}
.selected{
    border-style:solid;
    border-color:greenyellow;
} 